<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Todo App
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" padding>

  <ion-list>
    <ion-row>
      <ion-item>Acheter un cadeau</ion-item>
      <button ion-buttton (click)="openTodoAlert">
        <ion-icon name="trash"></ion-icon>
      </button>
    </ion-row>
    <ion-row>
      <ion-item>Emballer le cadeau</ion-item>
        <button color="danger" ion-buttton (click)="openTodoAlert">
          <ion-icon name="trash"></ion-icon>
        </button>
      </ion-row>
      <ion-row>
      <ion-item>Offrir le cadeau</ion-item>
      <button color="danger" ion-button (click)="openTodoAlert">
        <ion-icon name="trash"></ion-icon>
      </button>
    </ion-row>
    <ion-row>
      <ion-item>Jeter le cadeau</ion-item>
      <button color="danger" ion-buttton (click)="openTodoAlert">
        <ion-icon name="trash"></ion-icon>
      </button>
    </ion-row>
  </ion-list>
</ion-content>
